* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5 {
  text-align: center;
  font-size: 1.6rem;
  text-transform: uppercase;
}

p {
  font-size: 1.4rem;
}

body {
  font-size: 1.6rem;
}

header {  
  background: #0049B7;  /* fallback for old browsers */
}

.logo {
  padding: 0 2rem;
  color:#fff;
}

.center {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

nav {
  text-align: right;
  padding: 0;
  font-size: 1.8rem;
  flex: 1;
}
nav ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}

nav ul li {
  padding: 1rem;
  list-style-type: none;
}

nav a {
  color: #fff;
  font-weight: 300;
  text-decoration: none;
}

nav a:hover {    
  text-decoration: underline;
}

.title {
  color: #642a73;
  font-size: 3rem;
  text-align: center;
}

section .bannerPrincipal {
  width: 100vw;
  height: 50vh;
  background: linear-gradient(to bottom, #443938c6, #53555ab9), url(./images/IMG-20190504-WA0042.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  /* background-attachment: fixed; */
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section .bannerPrincipal h2 {
  color: #fff;
  font-weight: 500;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1.2rem;
}

section .bannerPrincipal input[type=email] {
  width: 90%;
  max-width: 60rem;
  height: 5rem;
  color: #333;
  font-size: 2rem;
  margin-top: 1.2rem;
  border-radius: 4px;  
  border: none;
}

section .bannerPrincipal input[type=submit] {
  width: 90%;
  max-width: 60rem;
  height: 5rem;
  background-color: #00c59e;
  color: #fff;
  font-size: 2rem;
  margin-top: 1.2rem;
  border-radius: 4px;  
  border: none;
  cursor: pointer;
}
section .bannerPrincipal input[type=submit]:hover {
  opacity: 0.9;
}
